<h1>Comments</h1>
<div class="item  col-xs-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{model.id}}: {{model.name}}</h3>
			<h3 class="panel-title">{{model.name}}</h3>
			<h3 class="panel-title">{{model.email}}</h3>
			<p>{{model.body}}</p>
		</div>
	</div>
</div>
